#https://direnv.net/man/direnv-stdlib.1.html
export STX_WORKSPACE_DIR="$(pwd)"
dotenv .env.local
layout python3

python -m pip --version > /dev/null
if ! test $? -eq 0; then 
  #echo 'get-pip';
  python $STX_WORKSPACE_DIR/stx/i/run/get-pip.py --prefix $STX_WORKSPACE_DIR/.direnv/python-3.10.6 > /dev/null
  #echo 'pip got';
fi

# python -m pipenv --version > /dev/null

# if ! test $? -eq 0; then
#   python -m pip install pipenv
# fi

# layout pipenv
python -m jupyter --version > /dev/null
if ! test $? -eq 0; then 
  pip install jupyter
fi


asdf plugin-add neko https://github.com/asdf-community/asdf-neko.git > /dev/null
asdf plugin-add haxe https://github.com/asdf-community/asdf-haxe.git > /dev/null
asdf plugin add  nodejs https://github.com/asdf-vm/asdf-nodejs.git

asdf install  nodejs 18.12.0
asdf global  nodejs 18.12.0
asdf install  neko 2.3.0
asdf global  neko 2.3.0
asdf install  haxe 4.2.5

asdf haxe neko dylibs link # link neko dylibs

