#https://direnv.net/man/direnv-stdlib.1.html
export STX_WORKSPACE_DIR="$(pwd)"
export STX_WORKSPACE_LOCAL=1
layout julia
dotenv .env.local
stx/i/run/asdf-install

if [ -s $HOME/.config/stx.env ]; then
  echo 'Workspace at $STX_WORKSPACE_DIR'
else
  echo "STX_WORKSPACE_DIR=$STX_WORKSPACE_DIR" > $HOME/.config/stx.env
fi