#https://direnv.net/man/direnv-stdlib.1.html
export STX_WORKSPACE_DIR="$(pwd)"
dotenv .env.local
layout python3

python -m pip --version > /dev/null
if ! test $? -eq 0; then 
  python stx/i/run/get-pip.py --prefix $STX_WORKSPACE_DIR/stx/o/lib/local/python
fi

python -m pipenv --version > /dev/null

if ! test $? -eq 0; then
  python -m pip install pipenv
fi

layout pipenv


asdf plugin-add neko https://github.com/asdf-community/asdf-neko.git
asdf plugin-add haxe https://github.com/asdf-community/asdf-haxe.git

asdf install neko 2.3.0
asdf global neko 2.3.0
asdf install haxe

asdf haxe neko dylibs link # link neko dylibs

