[submodule "stx/i/prj/kisslang"]
	path = .local/stx/i/prj/kisslang
	url = https://github.com/0b1kn00b/kisslang
	branch = monolith
[submodule ".local/asdf"]
	path = .local/asdf
	url = https://github.com/asdf-vm/asdf
